{% extends "template.twig" %}
{% block title %}Forgot Your Password{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Forgot Your Password</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for("auth.password.forgot") }}" method="post">
                        <div class="form-group{{ errors.email_or_username ? ' has-error' : '' }}">
                            <label for="email-or-username-input" class="control-label">Email or Username <span class="text-danger">*</span></label>
                            <input type="text" id="email-or-username-input" class="form-control" name="email_or_username" value="{{ input.email_or_username }}" />
                            {% if errors.email_or_username %}
                                <span class="help-block">{{ errors.email_or_username | first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Request Password Reset</button>
                        <a href="{{ path_for("auth.login") }}" class="btn btn-link">Cancel</a>
                        {{ csrf_token() | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}