{% extends "template.twig" %}
{% block title %}{{ user.forename }} {{ user.surname }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>
                        <a href="{{ path_for('profile', {username: user.username}) }}">{{ user.forename }} {{ user.surname }}</a>
                    </h1>
                    {% if user.location %}
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; {{user.location}}</p>
                    {% endif %}
                    {% if user.website %}
                        <p><i class="fa fa-globe" aria-hidden="true"></i>&nbsp; <a href="{{user.website}}">{{user.website}}</a></p>
                    {% endif %}
                    {% if user.biography %}
                        <p>{{user.biography}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
{% endblock %}