{% extends "template.twig" %}
{% block title %}Password Settings{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Password Settings</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="{{ path_for("auth.password") }}" method="post" name="account">
                <div class="form-group{{ errors.current_password ? ' has-error' : '' }}">
                    <label for="current-password-input" class="control-label">Current Password <span class="text-danger">*</span></label>
                    <input type="password" id="current-password-input" class="form-control" name="current_password" />
                    {% if errors.current_password %}
                        <span class="help-block">{{ errors.current_password | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.new_password ? ' has-error' : '' }}">
                    <label for="new-password-input" class="control-label">New Password <span class="text-danger">*</span></label>
                    <input type="password" id="new-password-input" class="form-control" name="new_password" />
                    {% if errors.new_password %}
                        <span class="help-block">{{ errors.new_password | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.new_password_repeat ? ' has-error' : '' }}">
                    <label for="new-password-repeat-input" class="control-label">New Password Repeat <span class="text-danger">*</span></label>
                    <input type="password" id="new-password-repeat-input" class="form-control" name="new_password_repeat" />
                    {% if errors.new_password_repeat %}
                        <span class="help-block">{{ errors.new_password_repeat | first }}</span>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                {{ csrf_token() | raw }}
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}