{% extends "template.twig" %}
{% block title %}Profile Settings{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Profile Settings</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form action="{{ path_for("auth.profile") }}" method="post" name="account">
                <div class="form-group{{ errors.forename ? ' has-error' : '' }}">
                    <label for="forename-input" class="control-label">Forename <span class="text-danger">*</span></label>
                    <input type="text" id="forename-input" class="form-control" name="forename" value="{{ input.forename ? input.forename : auth.user.forename }}" />
                    {% if errors.forename %}
                        <span class="help-block">{{ errors.forename | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.surname ? ' has-error' : '' }}">
                    <label for="surname-input" class="control-label">Surname <span class="text-danger">*</span></label>
                    <input type="text" id="surname-input" class="form-control" name="surname" value="{{ input.surname ? input.surname : auth.user.surname }}" />
                    {% if errors.surname %}
                        <span class="help-block">{{ errors.surname | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.biography ? ' has-error' : '' }}">
                    <label for="biography-input" class="control-label">Biography</label>
                    <textarea id="biography-input" class="form-control" name="biography">{{ input.biography ? input.biography : auth.user.biography }}</textarea>
                    {% if errors.biography %}
                        <span class="help-block">{{ errors.biography | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.location ? ' has-error' : '' }}">
                    <label for="location-input" class="control-label">Location</label>
                    <input type="text" id="location-input" class="form-control" name="location" value="{{ input.location ? input.location : auth.user.location }}" />
                    {% if errors.location %}
                        <span class="help-block">{{ errors.location | first }}</span>
                    {% endif %}
                </div>
                <div class="form-group{{ errors.website ? ' has-error' : '' }}">
                    <label for="website-input" class="control-label">Website</label>
                    <input type="text" id="website-input" class="form-control" name="website" value="{{ input.website ? input.website : auth.user.website }}" />
                    {% if errors.website %}
                        <span class="help-block">{{ errors.website | first }}</span>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                {{ csrf_token() | raw }}
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}